.news_details {
    background: linear-gradient(45deg, #068895, #2fb5e8, #e9569d, #e6535d, #ee7642, #6ab74f);
    .news_details_wrapper  {
        width: 80%;
        height: 100%;
        padding: 100px 20px;
        margin: 0 auto;
        background: #ff424242;
        border-left: 1px solid #d6d6d6;
        border-right: 1px solid #d6d6d6;
        display: flex;
        flex-direction: column;
        .news_details_thumbnail_wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center; 
            img {
                width: 100%;
                margin-bottom: 20px;
            }
            figure {
                width: 100%;
                img {
                    width: 100%;
                    height:initial;
                }
            }
            .news_details_thumbnail {
                width: 80%;
            }
        }
       
    }
    .news_details_content {
        display: flex;
        flex-direction: column;
        padding: 0 40px;
    }
    .news_details_header {
        font-size: 43px;
        line-height: 40px;
        font-weight: bold;
        font-family: 'Montserrat Alternates', sans-serif;     
        color: #121212;
        margin: 10px 0;
        padding: 0 40px;
    }
    .news_details_body { 
        font-size: 16px;
        line-height: 1.3rem;
        color:#121212;
        font-family: 'IBM Plex Serif', serif;
        padding: 20px;
        background: #e0e0e0ab;
        border-radius: 12px;
        box-shadow: 0 5px 10px 1px #484847;
    }
    .news_details_category {
        font-weight: bold;
        font-size: 17px;
        margin-bottom: 5px;
    }
    .news_details_published_date {
        font-size: 16px;
    }
    .news_details_author {
        font-size: 20px;
    }
    .news_details_production_office {
        font-weight: bold;
        font-size: 28px;
        margin-top: 10px;
    }
    .news_details_webpage_wrapper {
        display: flex;
        justify-content: space-between;
    }
    .news_details_visit_webpage {
        color:#fff;
    }
}




@media screen and (max-width:800px) {

    .news_details  {
        .news_details_wrapper {
            width: 90%;
            padding: 15px 10px;
        }
    
        .news_details_header  {
            font-size: 29px;
            padding: 0;
        }
    
        figure  {
            margin:0;
        }
    
        figcaption {
            display: none;
        }
    
        .news_details_content {
            padding: 0;
        }
        .news_details .news_details_body  {
            font-size: 14px;
        }
        .action_buttons {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .action_buttons * {
            margin: 5px 0;
        }
    }

}

