
.feed_item {
    margin:15px;
    box-shadow: 0px 0px 10px 5px #2f1f1f;
    position: relative;
    cursor: pointer;
    .pinned_helper {
        display: flex;
        width: max-content;
        background: #87ca0a;
        color: #fff;
        transform: rotate(90deg);
        position: absolute;
        z-index: 20;
        padding: 2px 5px;
        right: -32px;
        top: 27px;
        border-radius: 5px;
    }
    * {
        -moz-user-select: none;
        -webkit-user-select: none; 
        -ms-user-select:none; 
        user-select:none;
        -o-user-select:none;
    }
}

.category {
    display: flex;
}

.unread-news {
    width: 25px;
}

.feed_item_read {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.unread {
    display: block;
    padding: 5px;
    border-radius: 50%;
    background: #08f908;
    border: 1px solid #cccccc;
}

.read {
    display: block;
    padding: 5px;
    border-radius: 50%;
    background: orange;
    border: 1px solid #cccccc;
}

.new_item {
    color: #089600;
    font-weight: bold;
    font-size: 20px;
    transform: rotate(30deg);
    position: absolute;
    right: 36px;
    top: -17px;
    text-shadow: 2px 2px 25px black;
}