
.feed_item {
    margin:15px 0;
    box-shadow: 0px 0px 11px -2px #826e6e;
    cursor: pointer;

    * {
        -moz-user-select: none;
        -webkit-user-select: none; 
        -ms-user-select:none; 
        user-select:none;
        -o-user-select:none;
    }
}

.category {
    display: flex;
}