.feed_item {
    margin: 15px;
    min-height: 250px;
    -webkit-box-shadow: 0px 0px 10px 5px #2f1f1f;
    box-shadow: 0px 0px 10px 5px #2f1f1f;
    position: relative;
    cursor: pointer;

    .image {
        min-height: 174px;
    }

    .pinned_helper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        background: #158e9b;
        color: #fff;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        z-index: 20;
        padding: 2px 5px;
        right: -32px;
        top: 27px;
        border-radius: 5px;
    }

    * {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -o-user-select: none;
    }
}

.category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.unread-news {
    width: 25px;
}

.feed_item_read {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.unread_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .unread_text {
        margin-right: 5px;
    }

    .unread {
        display: block;
        padding: 5px;
        border-radius: 50%;
        background: #6973ff;
        border: 1px solid #cccccc;
    }
}


.read {
    display: block;
    padding: 5px;
    border-radius: 50%;
    background: #08f908;
    border: 1px solid #cccccc;
}

.new_item {
    color: #089600;
    font-weight: bold;
    font-size: 20px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    position: absolute;
    right: 36px;
    top: -17px;
    text-shadow: 2px 2px 25px black;
}